@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Roboto:wght@300&display=swap');
*{
   margin:0;
   padding:0; 
}





    .container{
        background: url();
        height: 150vh;
        width: 2000px;
        background-size: 100% 100%;
        background-color: #C0C0C0;
    }

    .container .navbar{
        width:100%;
        height:200px;
        background:rgba(69, 74, 80, 0.8)
    }

    .navbar .logo{
        display: inline-block;
        margin-left: 10px;
        margin-top: 10px;
    }

    .navbar .logo a{
        margin-left: 600px;
        text-decoration: none;
        font-size: 120px;
        font-family: 'Alex Brush', cursive;
        color:black;
    }

    .navbar .logo3{
        display: inline-block;
        margin-left: 10px;
        margin-top: -60px;
    }

    .navbar .logo3 a{
        margin-left: 650px;
        margin-top: -50px;
        text-decoration: none;
        font-size: 40px;
        font-family: Roboto;
        color:black;
    }
    .container .navbar2{
        
        width: 100%;
        height: 70px;
        background: rgba(0, 0, 0,0.3)
    }
    .container .navbar2 UL{
        float:right;
        margin-right: 800px;
    }

    .navbar2 UL li{
        list-style:none;
        display:inline-block;
        margin:0 10px;
        line-height: 67px;
    }

    .navbar2 UL li a{
        color: white;
        text-decoration: none;
        font-size:25px;
        padding: 6px 13px;
        font-family:Roboto;
        transition:.5s;
    }

    .navbar2 UL li a.active,
    .navbar2 UL li a:hover{
        background: #696565;
        border-radius: 2px;
    }